<form method="post" action="/login">
    <div>
        <label>Admin password</label>
        <input type="password" name="code" autofocus />
    </div>
    <button type="submit">Login</button>
</form>